body{
  text-align: center;
  background-color: rgb(48, 48, 48);
  width: 80%;
  height: 80%;
  margin: auto;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
}

#stageContainer{
  margin-top: 100px;
}

.square{
  width: 100px;
  height: 101px;
  background-color: purple;
  border: 2px solid aquamarine;
  display: inline-block;
  border-radius: 10px;
}

@media only screen and (max-width: 400px) {
  .square{
    width: 30%;
    height: 100px;
  }

  h1{
    color: blue;
  }
}
.square:hover{
  background-color: aquamarine;
}

.o{
  position: relative;
}

.o:after{
  position: absolute;
  content: '\1F431';
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.x{
  position: relative;
}

.x:after{
  position: absolute;
  content: '\1F436';
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
